.circlechart {
   float: left;
   padding: 20px;
 }

 #design1{
   border-left: solid #222 3px;
 }

 .aoi{
   text-align-last: center;
 }

/* Link syle in introduction tabs */
 .slink:link {
   text-decoration: none;
   font-size: 1em;
   color: #000;
 }

 /* visited link */
 .slink:visited {
  color: #000;
}

/* mouse over link */
 .slink:hover {
  color: #000;
}

/* selected link */
 .slink:active {
  color: #000;
}
