{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tox-progress.css') }}">
<!-- NAV -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#home">Vicky</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#EXPERIENCE">Experience</a>
		</li>
    <li class="nav-item">
			<a class="nav-link" href="#SKILLS">SKILLS</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#PROJECTS">Projects</a>
		</li>
    <li class="nav-item">
			<a class="nav-link" href="#ACECERT">Acheivement</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="mailto:Vicky123kumar22@gmail.com">Contact Me</a>
		</li>
    <li class="nav-item">
      <a class="nav-link" href="https://drive.google.com/file/d/1rYZeCgrniPf-mmKQpAxJfLj1xIgU7XVY/view?usp=sharing">Resume</a>
    </li>
	</ul>
</div>
</nav>
<!-- ENDNAV -->
<span id="home"></span>
<!-- Introduction  -->
<section>

		<div class="jumbotron jumbotron-fluid">
		  <div class="container-fluid">
				<div class="row justify-content-md-center">
					<div class="col-lg-8">
						<center>
							<img class="  image img-thumbnail" id="pic" src="{{ url_for('static', filename='images/2016.jpg') }}" alt="Vicky">
							<h1 class="display-4">Vicky Kumar</h1>
						</center>
						<p class="lead">A indendent and self-motivated software developer with 2+ year of experience and proven ability and experience in managing huge data, RDBMS, devloping web application using full stack and Data science projects with DS and Algo.I  have also participated in various competitions of competitive programming.  </p>
						<center>
						<a href="https://github.com/donrockvic/" target="_blank" class="slink">
							<img class="img-fluid"  src="{{ url_for('static', filename='images/001-github-sign.png') }}" alt="GITHUB">
							<!-- github.com/donrockvic/ -->
						</a>&nbsp;&nbsp;&nbsp;
						<a href="https://www.kaggle.com/vsevicky" target="_blank" class="slink">
							<img class="img-fluid"  src="{{ url_for('static', filename='images/002-letter-k.png') }}" alt="KAGGLE">
							<!-- kaggle.com/vsevicky -->
						</a>&nbsp;&nbsp;&nbsp;
						<a href="https://www.linkedin.com/in/vicky-kumar-19192998/" target="_blank" class="slink">
							<img class="img-fluid"  src="{{ url_for('static', filename='images/004-linkedin.png') }}" alt="Vicky">
							<!-- linkedin.com/in/vicky-kumar-19192998/ -->
						</a>
						</center>
					</div>
				</div>

		  </div>
		</div>

</section>
<!-- Intro end -->
<!--  Experience -->
<div id="EXPERIENCE"></div><br><br><br>
<section >
  <div class="container-fluid">
    <div class="heading">
      <h2>EXPERIENCE</h2>
    </div>
    <!-- First Ecperience -->
    <div class="row justify-content-md-center ">
      <div class="col-md-8 com-sm-8	">
        <h4>WIPRO ,<small> Banglore,India</small></h4>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p> <i>Software Developer</i> </p>
          </div>
          <div class="col-md-6 col-sm-6">
            <p>(July 2018 - Present)</p>
          </div>
        </div>
        <ul>
          <li> Got one-month training on Teradata and ETL tool Informatica,and SAP BO</li>
          <li>Joined State-street GMT Project on 1st AUG 2018 as L2 Developer</li>
          <li> Devloped and enhanced project with Java, Autosys JIL and UNIX script</li>
          <li> Took help of platform like  GIT, RTC and IBM CLOUD</li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <!-- Sec Expereince -->
    <div class="row justify-content-md-center">
      <div class="col-md-8 com-sm-8">
        <h4>Magical Methods Solutions ,<small> Delhi, India</small></h4>
        <div class="row">
          <div class="col-md-6">
            <h6> <i>Web developer</i> </h6>
          </div>
          <div class="col-md-6">
            <p>(May-June 2018)</p>
          </div>

        </div>
        <ul>
            <li> Worked as a web developer, created back-end for Magical methods.</li>
            <li> Used Laravel(PHP), Javascript, and MySQL using complete MVC model</li>
            <li> Using Bootstrap and jquery Developed UI of Android apps.</li>
        </ul>
      </div>
    </div>
		<!-- 3rd Expereince -->
		<div class="row justify-content-md-center">
			<div class="col-md-8 com-sm-8">
				<h4>Technoriti ,<small> Bhagalpur, India</small></h4>
				<div class="row">
					<div class="col-md-6">
						<h6> <i>Web developer</i> </h6>
					</div>
					<div class="col-md-6">
						<p>(2016-2018)</p>
					</div>
				</div>
				<ul>
						<li> Front end developer</li>
						<li> Used PHP, Javascript, and MySQL to create Techfest website for three years</li>
				</ul>
			</div>
		</div>
  </div>
</section>
<!-- End of experience -->
<!-- SKILLS -->
<div id="SKILLS"></div><br><br><br>
<section>
  <div class="container-fluid">
    <div class="heading">
      <h2>SKILLS</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-5 col-sm-12">
        Data Structure
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        Algorithm
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
        SQL
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        Machine Learing Algorithm
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
      Statics
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
      </div>
      <div class="col-md-5 col-sm-12">
        Deep Learning
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
        Scikit-Learn
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">40%</div>
        </div>
        Numpy/Pandas
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        Tensorflow
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">30%</div>
        </div>
        Tableau/PowerBI
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
      </div>
    </div>
		<br><br>
		<div class="row justify-content-center">
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="tox-progress" data-size="160" data-thickness="12" data-color="#0275d8" data-background="#efefef" data-progress="60" data-speed="500">
					<div class="tox-progress-content" data-vcenter="true">
						<center>&nbsp;	Software Developmet</center>
					</div>
				</div>
			</div>
		  <div class="col-md-2 col-sm-4 col-xs-6">
				<div class="tox-progress" data-size="160" data-thickness="12" data-color="#0275d8" data-background="#efefef" data-progress="60" data-speed="500">
					<div class="tox-progress-content" data-vcenter="true">
							 &nbsp;&nbsp;&nbsp;&nbsp;web Development
					</div>
				</div>
			</div>
		  <div class="col-md-2 col-sm-4 col-xs-6">
				<div class="tox-progress" data-size="160" data-thickness="12" data-color="#0275d8" data-background="#efefef" data-progress="70" data-speed="500">
					<div class="tox-progress-content" data-vcenter="true">
							 &nbsp;&nbsp;&nbsp;Machine Learning
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="tox-progress" data-size="160" data-thickness="12" data-color="#0275d8" data-background="#efefef" data-progress="40" data-speed="500">
					<div class="tox-progress-content" data-vcenter="true">
							&nbsp;&nbsp;&nbsp;Deep Learning
					</div>
				</div>
			</div>
		  <div class="col-md-2 col-sm-4 col-xs-6">
				<div class="tox-progress" data-size="160" data-thickness="12" data-color="#0275d8" data-background="#efefef" data-progress="70" data-speed="500">
					<div class="tox-progress-content" data-vcenter="true">
							&nbsp;&nbsp;&nbsp;Database/RDBMS
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6">
				<div class="tox-progress" data-size="160" data-thickness="12" data-color="#0275d8" data-background="#efefef" data-progress="50" data-speed="500">
					<div class="tox-progress-content" data-vcenter="true">
							&nbsp;&nbsp;&nbsp;Other skills
					</div>
				</div>
			</div>
		</div>



  </div>
<script type="text/javascript" src="{{url_for('static', filename='js/tox-progress.min.js') }}"> </script>
<!-- SCRIPT for progress bar new -->
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
			ToxProgress.create();
			ToxProgress.animate();
	});
</script>
</section>
<!-- End of Skills -->
<!-- Projects -->
<div id="PROJECTS"></div><br><br>
<section class="gallery-block compact-gallery">
  <div class="container-fluid">
    <div class="heading">
			<h2>Projects</h2>
		</div>
    <div class="row no-gutters">
      <div class=" col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
        <a class="lightbox" href="img/F1.jpg">
          <img class="img-fluid image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>


      <div class="col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
        <a class="lightbox" href="img/F2.jpg">
          <img class="img-fluid image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>


      <div class="col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
        <a class="lightbox" href="img/F3.jpg">
          <img class="img-fluid image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
        <a class="lightbox" href="img/F3.jpg">
          <img class="img-fluid image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg">
          <span class="description">
            <span class="description-heading">Lorem Ipsum</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>


</section>
<!-- END PROJECTS -->
<!-- ACHIEVMENTS -->
<div id="ACECERT"></div><br><br><br>
<section>
  <div class="container-fluid">
    <div class="heading">
      <h2>ACHIEVMENTS</h2>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
          <h5>HACKER RANK</h5>
      </div>
    </div>

  </div>
</section>
<!-- END ACHIEVMENTS -->

{% endblock %}
