{% extends 'base.html' %}
{% block body %}
<!-- NAV -->
<!-- ENDNAV -->
<span id="home"></span>
<!-- Introduction  -->
<section>

		<div class="jumbotron jumbotron-fluid">
		  <div class="container-fluid">
				<div class="row justify-content-md-center">
					<div class="col-lg-4">
							<br><br><br>
							<p class="lead">I am</p>
							<h1 class="display-4">Vicky Kumar</h1>
							<p class="lead"> A Data Engineer with Web Development Skills </p>

							<a href="{{url_for('projects') }}"> <button class="btn btn-dark" type="button">Projects</button> </a>

					</div>
					<div class="col-md-4">
						<img class="image image-fluid" src="{{ url_for('static', filename='images/2016.jpg') }}" alt="Vicky">
					</div>

				</div>

		  </div>
		</div>

</section>
<!-- Intro end -->
<!-- About Me -->
<section>
	  <div class="container-fluid">
			<div class="row justify-content-md-center">
				<h2>Personal Details</h2>
				<div class="col-md-10" id="design1">
					<p class="lead">An indendent and self-motivated software developer with 2+ year of experience and proven ability
						of developing Machine learning and Deep learning models, managing huge data  in Relational Databses, Doing Web development using full stack and skill in Data structure and Algorithm.
						Always enthusiastic about AI and its affect on everyday life. I have also participated in various competitions of competitive programming. </p>
					<br>
					<p>FULL NAME: VICKY KUAMR</p>
					<p>D.O.B:	25.AUG.1996</p>
					<p>ADDRESS:	Sarjapur, Banglore, Indaia</p>
					<p>E-MAIL:	vicky.123kuamr22@gmail.com</p>
					<p>PHONE: (+91) 9006773422</p>
					<a href="{{url_for('about') }}"> <button class="btn btn-dark" type="button">About Me</button> </a>
				</div>

			</div>
		</div>
</section>
<!-- End About Me -->
<!-- Area of Intrest -->
<section>
  <div class="container-fluid">
    <div class="heading">
      <h2>Area Of Interest</h2>
    </div>
		<div class="row justify-content-md-center">
			<div class="col-md-4 aoi">
				<img src="{{ url_for('static', filename='images/001-computer.png') }}" alt="">
				<h3>Machine learning</h3>
				<p>Machine learning is more than an API call to scikit-learn. I love the math and theory as well as the implementation.</p>
			</div>
			<div class="col-md-4 aoi">
				<img src="{{ url_for('static', filename='images/005-thinking.png') }}" alt="">
				<h3>Deep Learning</h3>
				<p>Created neural network using ANN and CNN in multiple projects. I have also implemnted Tranfer learning. </p>
			</div>
			<div class="col-md-4 aoi">
				<img src="{{ url_for('static', filename='images/002-book.png') }}" alt="">
				<h3>Statistics</h3>
				<p>Always help me to understand the algorithm and help me in increasing the accuracy of my machine learning model. </p>
			</div>
			<div class="col-md-4 aoi">
				<img src="{{ url_for('static', filename='images/006-network.png') }}" alt="">
				<h2>Model Deployment</h2>
				<p>I implement machine learning models in real world production systems using REST APIs.</p>
			</div>
			<div class="col-md-4 aoi">
				<img src="{{ url_for('static', filename='images/003-spanner.png') }}" alt="">
				<h3>Data Analytics</h3>
				<p>I love telling a story. Making a beautiful and compelling presentation is one of my favorite skills.</p>
			</div>
			<div class="col-md-4 aoi">
				<img src="{{ url_for('static', filename='images/004-website.png') }}" alt="">
				<h3>Web Development</h3>
				<p>Developing websited from last 4 years. This whole Portfolio is created by me using Flask, HTML, CSS and Js.</p>
			</div>
		</div>
	</div>
</section>

<!-- End Area of Intrest -->
<!-- SKILLS -->
<section>
  <div class="container-fluid">
    <div class="heading">
      <h2>SKILLS</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-5 col-sm-12">
        Data Structure
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        Algorithm
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
        SQL
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        Machine Learing Algorithm
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
      Statics
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%</div>
      </div>
      </div>
      <div class="col-md-5 col-sm-12">
        Deep Learning
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
        Scikit-Learn
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">40%</div>
        </div>
        Numpy/Pandas
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        Tensorflow
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">30%</div>
        </div>
        Tableau/PowerBI
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
      </div>
    </div>
		<br><br>
		<div class="row justify-content-center">
		 <div class="col-md-2 col-sm-4">
			  <div class="circlechart" data-percentage="70">Machine Learning</div>
  	 </div>
		 <div class="col-md-2 col-sm-4">
			 <div class="circlechart" data-percentage="40">Deep Learning</div>
		 </div>
		 <div class="col-md-2 col-sm-4">
			 <div class="circlechart" data-percentage="70">Database/RDBMS</div>
		 </div>
		 <div class="col-md-2 col-sm-4">
 			<div class="circlechart" data-percentage="60">web Development</div>
 		</div>
	</div>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	 <script src="{{url_for('static', filename='js/progresscircle.js') }}"></script>
	 <script>
		 $('.circlechart').circlechart(); // Initialization
	 </script>
</section>
<!-- End of Skills -->
<!-- Projects -->
<div id="PROJECTS"></div><br><br>
<section class="gallery-block compact-gallery">
  <div class="container-fluid">
    <div class="heading">
			<h2>My Latest Projects</h2>
		</div>
    <div class="row no-gutters">
      <div class=" col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
 				<a class="button lightbox" data-toggle="modal" data-target="#SalaryPrediction">
          <img class="img-fluid image" src="{{ url_for('static', filename='images/currecny.jpg') }}">
          <span class="description">
            <span class="description-heading">Salary prediction</span>
            <span class="description-body">This is Salary predition app, on the basic of Year of Experience, Test score and Interview score.</span>
          </span>
        </a>
      </div>
			<!-- Modal for first Project-->
			<div class="modal fade" id="SalaryPrediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Salary Prediction</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
								<p>Category: machine learning</p>
								<p>DATE:04 May 2018</p>
								<p>SITE LINK:<a  target="_blank" href="https://github.com/donrockvic/ML_projects/blob/master/SalaryPrediction/model.py">Python Code</a></p>
								<p>Demo: <a target="_blank" href="{{url_for('salary') }}">Live Demo</a> </p>
								<p>TECHNOLOGY:Python</p>
								<p>Description:</p>
								<p>
									The dataset contains information of people die from "Diabetes Mellitus" between 1999-2015. The task of this project was to derive valuable insights from the raw data, like:
									<ul>
										<li>sfsdfs</li>
										<li>jn</li>
								 </ul>
								</p>
			      </div>
			    </div>
			  </div>
			</div>


      <div class="col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
        <a class="button lightbox" data-toggle="modal" data-target="#TweetPrediction">
          <img class="img-fluid image" src="{{ url_for('static', filename='images/tweeter.jpg') }}">
          <span class="description">
            <span class="description-heading">Real or Fake Dister Tweet</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>
			<!-- Modal for first Project-->
			<div class="modal fade" id="TweetPrediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Real Or Fake Dister Tweet Prediction</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
							<p>Category: machine learning</p>
							<p>DATE:04 May 2018</p>
							<p>SITE LINK:<a  target="_blank" href="https://github.com/donrockvic/ML_projects/blob/master/Fake_real_Disaster_tweet/RealOrFakeTweets.ipynb">GitHub Repo</a></p>
							<p>Data: <a target="_blank" href="https://www.kaggle.com/c/nlp-getting-started/data">Kaggle Data</a>  </p>
							<p>Demo: <a target="_blank" href="{{url_for('tweet') }}">Live Demo</a> </p>
							<p>TECHNOLOGY:Python</p>
							<p>Description:</p>
							<p>
								The dataset contains information of people die from "Diabetes Mellitus" between 1999-2015. The task of this project was to derive valuable insights from the raw data, like:
								<ul>
									<li>sfsdfs</li>
									<li>jn</li>
							 </ul>
							</p>
			      </div>
			    </div>
			  </div>
			</div>

      <div class="col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
        <a class="button lightbox" data-toggle="modal" data-target="#LoanPrediction">
          <img class="img-fluid image" src="{{ url_for('static', filename='images/loan.jpg') }}">
          <span class="description">
            <span class="description-heading">Loan Prediction</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>
			<!-- Modal for first Project-->
			<div class="modal fade" id="LoanPrediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Loan Prediction</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
							<p>Category: machine learning</p>
							<p>DATE:04 May 2018</p>
							<p>SITE LINK: <a  target="_blank" href="https://github.com/donrockvic/ML_projects/blob/master/LoanPrediction/LoanPrediction.ipynb">GitHub Repo</a></p>
							<p>Data: <a target="_blank" href="https://www.kaggle.com/altruistdelhite04/loan-prediction-problem-dataset">Kaggle Data</a>  </p>
							<p>Demo: <a target="_blank" href="{{url_for('loan') }}">Live Demo</a> </p>
							<p>TECHNOLOGY:Python</p>
							<p>Description:</p>
							<p>
								The dataset contains information of people die from "Diabetes Mellitus" between 1999-2015. The task of this project was to derive valuable insights from the raw data, like:
								<ul>
									<li>sfsdfs</li>
									<li>jn</li>
							 </ul>
							</p>
			      </div>
			    </div>
			  </div>
			</div>

      <div class="col-sm-6 col-md-4 col-lg-3 item zoom-on-hover">
        <a class="button lightbox" data-toggle="modal" data-target="#IrisPrediction">
          <img class="img-fluid image" src="{{ url_for('static', filename='images/iris.jpg') }}">
          <span class="description">
            <span class="description-heading">Iris Flowerset</span>
            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </span>
        </a>
      </div>
			<!-- Modal for first Project-->
			<div class="modal fade" id="IrisPrediction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Iris Flowerset</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
							<p>Category: machine learning</p>
							<p>DATE:04 May 2018</p>
							<p>SITE LINK:<a  target="_blank" href="https://github.com/donrockvic/ML_projects/blob/master/IRIS_flower_classification/iris-dataset-supervised.ipynb">GitHub Repo</a></p>
							<p>Data: <a target="_blank" href="https://www.kaggle.com/arshid/iris-flower-dataset">Kaggle Data</a>  </p>
							<p>TECHNOLOGY:Python</p>
							<p>Description:</p>
							<p>
								The dataset contains information of people die from "Diabetes Mellitus" between 1999-2015. The task of this project was to derive valuable insights from the raw data, like:
								<ul>
									<li>sfsdfs</li>
									<li>jn</li>
							 </ul>
							</p>
			    </div>
			  </div>
			</div>

</section>
<!-- END PROJECTS -->
<!-- ACHIEVMENTS -->
<div id="ACECERT"></div><br><br><br>
<section>
  <div class="container-fluid">
    <div class="heading">
      <h2>Some Other Platform</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3 col-sm-3">
          <h5>KAGGLE</h5>
      </div>
			<div class="col-md-3 col-sm-3">
					<h5>GIHUB</h5>
			</div>
			<div class="col-md-3 col-sm-3">
					<h5>LINKEDIN </h5>
			</div>
    </div>

  </div>
</section>
<!-- END ACHIEVMENTS -->

{% endblock %}
