{% extends 'base.html' %}

{% block body %}

 <h3> Machine Learning Project</h3>
 <div class="row">
   <div class="col-md-6">
     <h4>Predict Salary Analysis</h4>
     <!-- Form for getting data into ML model -->
     <form class="" action="{{ url_for('predictSalary')}}" method="post">
         <div class="form-group">
           <label for="exampleInputEmail1">Experience </label>
           <input type="text" class="form-control"    name="experience" placeholder="experience" required ="required" />
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
         <div class="form-group">
           <label for="exampleInputPassword1">Test Score</label>
           <input type="text" class="form-control" name="test_score" placeholder="Test Score" required="required" />
         </div>
         <div class="form-group">
           <label for="exampleInputPassword1">interview_score</label>
           <input type="text"  class="form-control" name="interview_score" placeholder="Interview Score" required="required" />
         </div>
         <button type="submit" class="btn btn-primary">Predict</button>
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
     </form>
     <br>
     {{ prediction_text }}
   </div>
 </div>

{% endblock %}
