{% extends 'baseDemo.html' %}
{% block body %}
<div class="container-fuid">
  <center> <h3> Machine Learning Project</h3> <center> <br>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="alert alert-success" role="alert">
       {{ prediction_text }}
       </div>
      <h4>Real of Fake Disater tweet</h4>
      <!-- Form for getting data into ML model -->
      <form class="" action="{{ url_for('predictTweet')}}" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Enter the Tweet </label>
            <input type="text" class="form-control" name="tweet" placeholder="Tweet" required ="required" />
          </div>

          <button type="submit" class="btn btn-primary">Predict</button>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>

    </div>
  </div>

</div>
   {% endblock %}
